.cenik {
  margin-bottom: 10rem;
  margin-top: 7rem;
}
.cenik__block {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.cenik__title {
  text-align: center;
  font-size: 3rem;
}
.cenik__programs {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.cenik__card {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-around;
  align-items: center;
}
.cenik__card::before {
  content: "";
  height: 1px;
  display: block;
  width: 90%;
  background: white;
  position: absolute;
  left: 5%;
  top: -2rem;
}
.cenik__photo {
  width: 15rem;
  height: 10rem;
}
.cenik__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.7s;
}
.cenik__img:hover {
  transform: scale(1.05);
}
.cenik__card-title {
  font-size: 2rem;
}
.cenik__card-popis {
  font-size: 1.1rem;
}