@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sen:wght@400;500;600;700&display=swap");
body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Sen";
  color: white;
  scroll-behavior: smooth;
}

.burger.b_transition {
  position: fixed;
  transition: 0.7s;
  transform: rotate(180deg);
}
.burger.b_transition span:nth-child(1) {
  opacity: 0;
}
.burger.b_transition span:nth-child(2) {
  transform: rotate(45deg) translate(6.5px);
}
.burger.b_transition span:nth-child(3) {
  transform: rotate(-45deg) translate(7.5px);
}

.burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.7s;
}
.burger span {
  transition: 0.7s;
}
.burger span:nth-child(1) {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
}
.burger span:nth-child(2) {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background: #fff;
  bottom: 50%;
}
.burger span:nth-child(3) {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background: #fff;
  bottom: 0;
}

.header {
  font-family: "Sen";
  color: white;
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-family: "Bebas Neue";
  font-size: 2.5rem;
}
.header__logo a {
  text-decoration: none;
  color: white;
}
.header__logo a:hover {
  color: #5221E6;
  transition: 0.6s;
}

.container {
  margin: 1rem 4.5rem;
}

.nav__list {
  display: flex;
  gap: 1.25rem;
  margin: 0;
  padding: 0;
}
.nav__item {
  list-style: none;
}
.nav__Link {
  text-decoration: none;
  color: white;
  padding: 2rem 2rem;
}
.nav__Link:hover {
  color: #5221E6;
  transition: 0.6s;
}

.active {
  background-color: #5221E6;
}
.active:hover {
  color: white;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0);
}

.title {
  margin-top: 5rem;
}
.title__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title__img {
  width: 41rem;
  height: 42rem;
}
.title__info {
  margin-left: 1rem;
}
.title__title {
  font-size: 4.875rem;
  font-weight: 700;
}
.title__title span {
  opacity: 0.5;
}
.title__popis {
  margin-top: 2rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.background {
  height: 56.3rem;
  width: 56.3rem;
  background-color: #181823;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.filosofie {
  background-color: #FFF3E4;
  margin-top: 4.8rem;
  height: 39.06rem;
}
.filosofie__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filosofie__info {
  display: flex;
  flex-direction: column;
  margin-left: 4.5rem;
  color: #000;
}
.filosofie__title {
  font-size: 3.43rem;
  font-weight: 700;
}
.filosofie__popis {
  width: 36rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.dovednosti__block {
  color: #8491A0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 7.5rem;
}
.dovednosti__info {
  text-align: left;
}
.dovednosti__title {
  color: white;
  font-size: 3.4375rem;
  font-weight: 700;
}
.dovednosti__popis {
  width: 23rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
}
.dovednosti__cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
}
.dovednosti__card {
  margin-top: 0.5rem;
  width: 23rem;
  height: 11rem;
}
.dovednosti__img {
  margin-bottom: 1.5rem;
}
.dovednosti__card-title {
  color: white;
  margin-bottom: 0.75rem;
}
.dovednosti__card-popis {
  width: 20rem;
}

.projekty__title {
  color: #8491A0;
  font-family: Sen;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 1.5rem */
  text-transform: uppercase;
}
.projekty__nazev {
  color: #FFF;
  font-family: Sen;
  font-size: 3.4375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
}
.projekty__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1.69rem;
}
.projekty__card-info {
  cursor: pointer;
  padding: 2.5rem 2rem;
}
.projekty__card {
  width: 39rem;
  background: #181823;
  margin-top: 1rem;
  cursor: pointer;
}
.projekty__cards-srow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.projekty__cards-frow {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.projekty__photo {
  width: 39rem;
  overflow: hidden;
}
.projekty__img {
  width: 100%;
  transition: 0.7s;
}
.projekty__img:hover {
  transform: scale(1.2);
}
.projekty__card-title {
  color: #FFF;
  font-family: Sen;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 0 2rem;
  padding-top: 2.5rem;
}
.projekty__card-popis {
  color: #8491A0;
  font-family: Sen;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 0 2rem;
  padding-bottom: 2.5rem;
}
.projekty__button {
  margin-top: 9.38rem;
}
.projekty__link {
  padding: 1.5rem 2rem;
  color: #FFF;
  font-family: Sen;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  border: 1px solid #5221E6;
  text-decoration: none;
}
.projekty__link:hover {
  background: #5221E6;
  transition: 0.5s;
}

.instagram {
  background-color: #FBE4FF;
  margin-top: 4.8rem;
  height: 37.5rem;
}
.instagram__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.instagram__info {
  display: flex;
  flex-direction: column;
  margin-left: 4.5rem;
  color: #000;
}
.instagram__title {
  font-size: 3.43rem;
  font-weight: 700;
}
.instagram__popis {
  width: 36rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.instagram__link {
  color: #181823;
  font-family: Sen;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-underline-position: under;
}
.instagram__button {
  margin-top: 9.19rem;
}
.instagram__photo {
  width: 45rem;
  height: 37.5rem;
}
.instagram__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fback {
  margin-top: 9rem;
  margin-bottom: 6rem;
}
.fback__block {
  display: flex;
  justify-content: space-around;
}
.fback__kontakty {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.fback__kontakt-title {
  font-size: 1.2rem;
  font-weight: 700;
}
.fback__kontakt a {
  color: white;
  transition: 0.7s;
}
.fback__kontakt a:hover {
  color: #5221E6;
}
.fback__ {
  color: #fff;
  font-family: Sen;
  font-size: 3.4375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.fback__popis {
  color: #8491A0;
  font-family: Sen;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.6875rem */
}
.fback__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: -0.625rem;
}
.fback__input {
  background-color: #181823;
  width: 32.875rem;
  height: 3.125rem;
  font-size: 100%;
  border: none;
  color: #fff;
  caret-color: #fff;
}
text .fback__input:focus {
  border: none;
}
.fback textarea {
  background-color: #181823;
  border: none;
  color: #fff;
  caret-color: #fff;
  max-width: 530px;
}
text .fback textarea:focus {
  border: none;
}
.fback__inputs {
  display: flex;
  flex-direction: column;
}
.fback__label {
  color: #FFF;
  font-family: Sen;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  padding-bottom: 0.5rem;
}
.fback__button {
  cursor: pointer;
  border: none;
  padding: 1.5rem 2rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  background: #5221E6;
  color: #FFF;
  font-family: Sen;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 1.6875rem */
  text-transform: uppercase;
  text-align: center;
}

.foot {
  background: #181823;
  height: 12rem;
}
.foot__container {
  height: 100%;
}
.foot__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.foot__info {
  height: 100%;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
}
.foot__contacts {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.foot__logo {
  color: #FFF;
  font-family: Bebas Neue;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 3rem */
  cursor: pointer;
}
.foot__logo:hover {
  color: #5221E6;
  transition: 0.5s;
}
.foot__gdpr-link {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}
.foot__gdpr-link:hover {
  color: #5221E6;
  transition: 0.5s;
}
.foot__dev {
  background: #181823;
  padding: 1rem;
  text-align: center;
}
.foot__dev a {
  color: #FFF;
  text-decoration: none;
  transition: 0.7s;
}
.foot__dev a:hover {
  color: #5221E6;
}
.foot__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.foot__item {
  padding: 0;
  margin: 0;
  list-style: none;
}
.foot__item a {
  font-size: 1.1rem;
}
.foot__item a img {
  width: 40px;
  margin-top: 0.5rem;
}
.foot__link {
  color: #FFF;
  font-family: Sen;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  text-decoration: none;
}
.foot__link:hover {
  color: #5221E6;
  transition: 0.5s;
}