.projects {
    margin-bottom: 6rem;
    &__block {
        display: flex;
        flex-direction: column;

        gap: 2rem;
        margin-top: 5rem;

    }

    &__title {
        text-align: center;
        font-size: 2rem;

    }

    &__photos-block{
      display: grid;
    grid-template-rows: repeat(2, 1fr);
    overflow-x: scroll;
    gap: 1rem;
    padding: 3rem;

    }

    &__photos-row {
      display: flex;
      flex-direction: row;
      gap: 1rem;

  }


    &__img {
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        transition: 0.7s;
        
        &:hover{
            transition: 0.7s;
            transform: scale(1.05);
            z-index: 10;
            
        }

    }

    &__photo {
        height: 20rem;
        box-shadow: 0px 0px 15px 0px #5221E6;

    }

    &__video{
      height: 20rem;
      width: 30rem;
      box-shadow: 0px 0px 15px 0px #5221E6;
      border-radius: 5% ;
    }


    &__vid {
      height: 100%;
      width: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        transition: 0.7s;
        border-radius: 5% ;        
        &:hover{
            transition: 0.7s;
            transform: scale(1.05);
            z-index: 10;
            
        }

  }
  &__videos-block{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        overflow-x: scroll;
        gap: 3rem;
        padding: 3rem;
  }
  &__videos-row {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;

  }
}

